/**
 * @author learnercys
 */

.lc-inputs {
  .box {
    .input {
      display: inline-block;
      padding: 3px;

      .glyphicon-remove {
        cursor: pointer;
      }
    }

    .new-input {
      border: 0;
      resize: none;
    }
  }
}

